[Unit]
Description=AntiZapret-Core
After=multi-user.target kresd@1.service kresd@2.service
Requires=kresd@1.service kresd@2.service
Wants=multi-user.target

[Service]
LimitNPROC=infinity
LimitNOFILE=65535
WorkingDirectory=/root/antizapret
ExecStartPre=/root/antizapret/up.sh
ExecStart=/root/antizapret/proxy.py
ExecStopPost=/root/antizapret/down.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target