services:
  antizapret:
    build: .
    image: utyadev/antizapret-core:latest
    container_name: antizapret
    restart: always
    network_mode: host
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    volumes:
      - ./config:/root/antizapret/config
      - ./result:/root/antizapret/result
    environment:
      # 1) Cloudflare+Quad9+MSK-IX+SkyDNS(default)
      # 2) SkyDNS
      # 3) Cloudflare+Quad9
      # 4) Comss
      # 5) XBox
      # 6) Malw
      - ANTIZAPRET_DNS=1
      # Use alternative range of IP addresses? (y/n)
      - ALTERNATIVE_IP=n
      # Use alternative range of FAKE IP addresses? (y/n)
      - ALTERNATIVE_FAKE_IP=n
      # Enable SSH brute-force protection? (y/n)
      - SSH_PROTECTION=y
      # Enable network attack and scan protection? (y/n)
      - ATTACK_PROTECTION=y
      # Route aggregation limit (number of routes). 0 to disable.
      - ROUTE_AGGREGATION_LIMIT=500
      # Clear hosts from gambling and betting websites (y/n)
      - CLEAR_HOSTS=y
    healthcheck:
      test: ["CMD-SHELL", "echo 'cache.count()' | socat - /run/knot-resolver/control/1"]
      interval: 20s
      timeout: 5s
      retries: 3
      start_period: 60s
